version: 0.18.{build}
pull_requests:
  do_not_increment_build_number: true
configuration: Release
shallow_clone: true
clone_depth: 10

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

before_build:
  - nuget restore src\GoogleMapsForNET.sln

build_script:
- cmd: msbuild /p:Configuration=Release src\GoogleMapsForNET.sln /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

after_build:
- cmd: call nuget_pack.cmd

before_test:
- cmd: curl -s "https://maps.googleapis.com/maps/api/geocode/json?address=1600%20Amphitheatre%20Parkway,%20Mountain%20View,%20CA&key=AIzaSyCmNnjnAEpmO_-vl1nnfWkREsEufwvWo4M" -o pretest_response.json

test:
  assemblies:
    only:
    - src\Google.Maps.Test\bin\Release\*Test.dll

artifacts:
- path: Build\NuGet\*.nupkg
  name: NuGetPackage

deploy:
- provider: NuGet
  api_key:
    secure: 2SwDMmXZZtgoLWsldKZ8GCu9rZXpO5quTYtSNJQSeeiqDjnmo0OfutNVcH3jsfpj
  artifact: 'NuGetPackage'
  on:
    branch: release

notifications:
- provider: Email
  to:
  - ericnewton76@gmail.com
  subject: Gmaps-api-net build completed.
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true

# Temporary workaround for AppVeyor -> NuGet connectivity issues
hosts:
  api.nuget.org: 93.184.221.200